<main>
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= f.email_field :email, placeholder: "Enter your email...", autofocus: true, autocomplete: "email", :required => true %>
  
    <%= f.text_field :first_name, placeholder: "Enter your first name...", autofocus: true, autocomplete: "email", :required => true %>
    
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <%= f.text_field :last_name, placeholder: "Enter your last name...", autofocus: true, autocomplete: "email", :required => true %>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "Enter password...", autocomplete: "new-password", :required => true %>
  </div>

    <%= f.password_field :password_confirmation, placeholder: "Confirm your password", autocomplete: "new-password", :required => true %>

    <%= f.submit "Sign up" %>
    <% end %>

  <%= render "devise/shared/links" %>
</main>
