<%= form_with model: @category, url: categories_path, method: :post, local: true do |form| %>

  <%= form.text_field :name, placeholder: "Enter name of category...", :required => true %>

  <%= form.text_area :description, placeholder: "Enter category's description...", :required => true %>
  
  <div class="label-container">
    <%= form.label :icon, class: "label" %>
    <%= form.file_field :icon, :required => true %>
  </div>


  <%= form.submit class: "submit-button" %>
<% end %>
  